---
import Layout from "../layouts/Layout.astro";
import BlogCarousel from "../components/BlogCarousel.astro";
import Horizontal from "../components/Horizontal.astro";

const posts = {
  people: [
    {
      title: "Challenges Give Way To Hope",
      slug: "challenges-give-way-to-hope",
      image: "/assets/baby-feet.jpg",
      imageAlt: "Baby feet",
    },
    {
      title: "Challenges Give Way To Hope",
      slug: "challenges-give-way-to-hope",
      image: "/assets/baby-feet.jpg",
      imageAlt: "Baby feet",
    },
    {
      title: "Challenges Give Way To Hope",
      slug: "challenges-give-way-to-hope",
      image: "/assets/baby-feet.jpg",
      imageAlt: "Baby feet",
    },
  ],
  announcements: [
    {
      title: "Challenges Give Way To Hope",
      slug: "challenges-give-way-to-hope",
      image: "/assets/baby-feet.jpg",
      imageAlt: "Baby feet",
    },
    {
      title: "Challenges Give Way To Hope",
      slug: "challenges-give-way-to-hope",
      image: "/assets/baby-feet.jpg",
      imageAlt: "Baby feet",
    },
    {
      title: "Challenges Give Way To Hope",
      slug: "challenges-give-way-to-hope",
      image: "/assets/baby-feet.jpg",
      imageAlt: "Baby feet",
    },
  ],
  beyond: [
    {
      title: "Challenges Give Way To Hope",
      slug: "challenges-give-way-to-hope",
      image: "/assets/baby-feet.jpg",
      imageAlt: "Baby feet",
    },
    {
      title: "Challenges Give Way To Hope",
      slug: "challenges-give-way-to-hope",
      image: "/assets/baby-feet.jpg",
      imageAlt: "Baby feet",
    },
    {
      title: "Challenges Give Way To Hope",
      slug: "challenges-give-way-to-hope",
      image: "/assets/baby-feet.jpg",
      imageAlt: "Baby feet",
    },
  ],
};
---

<Layout title="Home">
  <main>
    <section id="heartbeat">
      <h2>Our Heartbeat</h2>
      <Horizontal />
      <p>
        We provide a safe and confidential environment for women to receive
        loving counseling, helpful information and free services. We offer three
        unique services to help babies, women and families experience life: our
        medical women’s center, Cornerstone Parenting Center, and Freedom in
        Surrender.
      </p>
    </section>
    <section id="people">
      <h2>Meet Some Of The People We've Helped</h2>
      <BlogCarousel posts={posts.people} />
    </section>
    <section id="announcements">
      <h2>See What's Happening At Heartbeat</h2>
      <BlogCarousel posts={posts.announcements} />
    </section>
    <section id="beyond">
      <h2>Pro-Life Beyond Heartbeat</h2>
      <BlogCarousel posts={posts.beyond} />
    </section>
  </main>
</Layout>

<style>
  main {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  section {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 80px 0;
    width: 100%;
  }
  h2 {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 1.6rem;
    width: fit-content;
  }
  p {
    font-size: 1.2rem;
    line-height: 180%;
    max-width: 70ch;
    text-align: center;
  }
  #announcements {
    background: var(--gray-100);
  }
</style>
