---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout title="Heartbeat" description="">
  <main class="flex flex-col gap-16 items-center">
    <section class="flex justify-center">
      <div class="flex flex-col justify-center items-center gap-8">
        <Image
          src="/vision-banquet-promo.png"
          alt="Vision Banquet Promo"
          height={300}
          width={600}
        />
        <button
          class="bg-[hsl(var(--heartbeat-red))] hover:bg-[hsl(var(--heartbeat-red-hover))] text-red-50 py-3 px-8 rounded-3xl w-fit"
        >
          Give toward the 2024 Vision Banquet
        </button>
      </div>
    </section>

    <section>
      <h1
        class="text-3xl font-bold border-b-2 border-[hsl(var(--heartbeat-red))] w-fit pb-2"
      >
        Our Heartbeat
      </h1>
      <p class="mt-2 text-lg">
        We provide a safe and confidential environment for women to receive
        loving counseling, helpful information and free services. We offer three
        unique services to help babies, women and families experience life: our
        medical women’s center, Cornerstone Parenting Center, and Freedom in
        Surrender.
      </p>
    </section>
  </main>
</Layout>
