---
interface Props {
  image: string;
  height?: string;
  width?: string;
}

const { image, height = "500px", width = "100%" } = Astro.props;
---

<div
  class="backdrop"
  style={{
    backgroundImage: `url(${image})`,
    height,
    width,
  }}
>
  <div class="overlay">
    <slot />
  </div>
</div>

<style>
  .backdrop {
    background-size: cover;
    background-position: center;
  }
  .overlay {
    backdrop-filter: saturate(70%) contrast(50%) brightness(110%);
    display: grid;
    height: 100%;
    place-items: center;
    width: 100%;
  }
</style>
