---
import { Image } from "astro:assets";
---

<nav>
  <a href="/">
    <Image
      src="/logo.png"
      alt="Heartbeat of Columbiana County logo"
      height={120}
      width={160}
    /></a
  >

  <ul>
    <a href="/services">Services</a>
    <a href="/parenting-support">Parenting Support</a>
    <a href="/events">Events</a>
    <a href="/participate">Participate</a>
    <a href="/about">About</a>
    <a href="/give">Give</a>
  </ul>
</nav>

<style>
  nav {
    align-items: center;
    color: var(--gray-900);
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
  }
  ul {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
  a {
    color: var(--gray-800);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  ul:has(a:hover) a:not(:hover) {
    color: var(--gray-300);
  }
</style>
